*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
bin/
.ruby-gemset
.ruby-version
.env


.rubocop-https---raw-githubusercontent-com-discourse-discourse-master--rubocop-yml